body {
  background: #113; 
}

h1 {
  color: rgb(234, 234, 255);
  font-family: 'Saira Stencil One', cursive;
  font-size: 100px;
  margin: 50px;
  text-align: center;
}

h2 {  font-family: 'Darker Grotesque', sans-serif;
  font-size: 45px;
  text-align: center;
}

p {
  line-height: 28px;
  margin: 30px 80px;
}

main {
  display: flex;
}

.profile {
  background: white;
  text-align: center;
  border: 2px solid black;
  flex: 1;
  margin: 30px;
  padding: 30px 0;
}

.button {
  background: #113;
  border: 2px solid black;
  height: 30px;
  margin: 0 auto 20px;
  width: 300px;
}

a {
  color: rgb(234, 234, 255);
  cursor: pointer;
  font-size: 24px;
  text-decoration: none;
}

.return {
  background:  white;
  margin: 20px auto 30px;
  text-align: center;
  width: 200px;
}

.return a {
  color: black;
}