body {
  background: #113;
  /* background-image: url(../images/arcadeTetris.jpg); */
  background-size: 100%;
}

header {
  /* background: white; */
}

h1 {
  color: rgb(234, 234, 255);
  font-family: 'Saira Stencil One', cursive;
  font-size: 100px;
  margin: 50px;
  text-align: center;
}

#grid {
  background: blue;
  border: 3px solid black;
  box-shadow: 10px 10px 5px rgba(46, 60, 120, 0.5);
  cursor: pointer;
  display: grid;  
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 600px;
  margin: 0 auto;
  padding: 10px;
  width: 700px;
}

.cell {
  background: rgb(234, 234, 255);
  border: 5px solid blue;
  border-radius:50%;
}

.player1 {
  background: red;
  border-radius: 50%;
}

.player2 {
  background: black;
  border-radius: 50%;
}

/* .modal {
  background: #DDD;
  border: 2px solid black;
  margin: 0 auto;
  opacity: 0.9;
  padding: auto;
  padding-top: 180px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

#page {
  position: relative;
}

#modal {
  background: #DDD;
  border: 2px solid black;
  opacity: 0.9;
  padding: auto;
  padding-top: 180px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#modal div {
  background: #AAA;
  border: 2px solid black;
  cursor: pointer;
  display: block;
  height: 50px;
  margin: 0 auto 20px;
  padding: auto;
  text-align: center;
  width: 250px;
}

span {
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 14px;

}

.winModal {
  background: rgb(252, 252, 252);
  border: 2px solid black;
  margin: 0 auto;
  opacity: 0.9;
  padding: auto;
  padding-top: 180px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

h3 {
  display: block;
  font-family: sans-serif;
  font-size: 60px;
  margin: 10px auto;
  width: 400px;
}

#close {
  border: 2px solid black;
  cursor: pointer;
  font-size: 30px;
  margin: 100px auto;
  padding: 10px;
  width: 100px;
}

.show-modal {
  background: rgb(252, 252, 252);
  border: 2px solid black;
  margin: 0 auto;
  opacity: 0.7;
  padding: auto;
  padding-top: 180px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: visible;
}

nav {
  background:rgba(46, 60, 120, 0.4);
  border: 3px solid black;
  display: block;
  float: right;
  margin: 5% 5% 0 0;
  text-align: center;
}

a {
  background: rgb(234, 234, 255);
  border: 3px solid black;
  color:black;
  font-size: 26px;
  display: block;
  margin: 15px;
  padding: 15px;
  text-decoration: none;
}