h1 {
  font-family: 'Saira Stencil One', cursive;
  font-size: 100px;
  margin: 50px;
  text-align: center;
}

main {
  display: flex;
}

div {
  text-align: center;
  border: 2px solid black;
  flex-grow: 1;
  margin: 30px;
  padding: 10px;
}

img {
  height: 300px;
  width: 300px;
}

h2 {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 45px;
  text-align: center;
}