h1 {
  font-family: 'Saira Stencil One', cursive;
  font-size: 100px;
  margin: 50px;
  text-align: center;
}

.flex {
  display: flex;
}

.game {
  text-align: center;
  border: 2px solid black;
  flex: 1;
  margin: 30px;
  padding: 10px;
}

img {
  height: 300px;
  width: 300px;
}

h2 {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 45px;
  text-align: center;
}

.button {
  border: 2px solid black;
  height: 30px;
  margin: 0 auto 20px;
  text-align: center;
  width: 300px;
}

.button a {
  color: black;
  cursor: pointer;
  font-size: 24px;
  text-decoration: none;
}